#about {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  background-image: linear-gradient(0deg, white 50%, white 50%);
  img {
    width: 150px;
    box-shadow: 0 1px 5px 0 $gray,0 1px 0 0 $light-gray;
  }
  h1 {
    font-size: 30px;
    font-weight: bolder;
    margin-bottom: 30px;
    margin-top: 0px;
    color: $blue-gray;
  }
  h2 {
    font-size: 17px;
    font-weight: bold;
    color: $blue-gray;
  }
  a {
    color: $light-gray;
    font-weight: bold;
    letter-spacing: -0.5px;
    font-size: 15px;
  }
  .fa-heart {
    color: $light-gray;
  }
}
